<div class="principal_page">
	<h1>
		¿Por qué elegirnos?
	</h1>
	<p>
		Somos una de las pocas empresas que siguen grabando el metal de forma artesanal. La calidad es nuestro punto fuerte, pero a esta se le añade la identidad artesana de cada producto, realizado siempre a gusto y para satisfacción del cliente. Realizamos todo tipo de grabados en metales.	
	</p>

	<h1>
		Nuestra experiencia nos hace únicos
	</h1>
	<p>
		Debido a la experiencia acumulada durante tantos años, podemos decir sin temor a equivocarnos, que existe obra nuestra en todos los lugares del mundo; desde la Selva Amazónica a los Polos Terrestres.
	</p>
</div>


<div id="page-wrap">	
	<div id="slider">

		<div id="mover">
	
			<div id="slide-1" class="slide">
			
				<h1>Trofeos</h1>
				
				<p>Especializados en la exclusividad y perseverancia.</p>
				
				<a href="#"><%= image_tag("slide-1-image.png") %></a>
				
			</div>
			
			<div class="slide">
			
				<h1>Emblemas</h1>
				
				<p>Alimentando la constancia con respeto y admiración.</p>
				
				<a href="#"><%= image_tag("slide-2-image.png") %></a>
				
			</div>
			
			<div class="slide">
			
				<h1>Metopas</h1>
				
				<p>Trabajando desde hace años para obtener los mejores resultados.</p>
				
				<a href="#"><%= image_tag("slide-3-image.png") %></a>
				
			</div>
		
		</div>
	
	</div>
			
</div>