<div id="fondo">
<!-- 	<div id="header">
		<a href=""><div id="Metopas" class="index">
			<h3>Metopas</h3>
		</div></a>
		<a href=""><div id="Placas" class="index">
			<h3>Placas</h3>
		</div></a>
		<a href="html.html"><div id="title">
			<h2>LUIS MECA</h2>
		</div></a>
		<a href=""><div id="Trofeos" class="index">
			<h3>Trofeos</h3>
		</div></a>
		<a href=""><div id="Emblemas" class="index">
			<h3>Emblemas</h3>
		</div></a>
	</div> -->
	<h1>
		¿Por qué elegirnos?
	</h1>
	<p>
		Somos una de las pocas empresas que siguen grabando el metal de forma artesanal. La calidad es nuestro punto fuerte, pero a esta se le añade la identidad artesana de cada producto, realizado siempre a gusto y para satisfacción del cliente. Realizamos todo tipo de grabados en metales.	
	</p>

	<h1>
		Nuestra experiencia nos hace únicos
	</h1>
	<p>
		Debido a la experiencia acumulada durante tantos años, podemos decir sin temor a equivocarnos, que existe obra nuestra en todos los lugares del mundo; desde la Selva Amazónica a los Polos Terrestres.
	</p>

</div>