<h1>Heráldica</h1>
<div class="pictures">
	<div id="h1"> 
		<%= image_tag("h1.jpg") %>
	</div>
	<div id="h2"> 
		<%= image_tag("h2.jpg") %>
	</div>
	<div id="h3"> 
		<%= image_tag("h3.jpg") %>
	</div>
</div>