/*=require foundation.css*/

body {
    line-height: 1;
    margin-top: 45px;
    background-color: rgba(255, 155, 62, 0.74);
}

#text1 {
    height: 50%;
    width: 44%;
    float: left;
    padding: 45px;
    margin-left: 4%;
    text-align: left;
}

#text2 {
    height: 50%;
    width: 44%;
    float: right;
    padding: 45px;
    text-align: left;
}

.principal_page {
    text-align: center;
}

.principal_page p {
    font-size: 20px;
}

.contact_page {
    font-size: 25px;
    margin-left: 20px;
    margin-top: 57px;
}

.pictures div {
    display: inline-block;
}

.pictures div img {
    display: inline-block;
    margin-top: 45px;
    margin-left: 37px;
}

/*IMAGES*/
#principal_image {
    margin-left: 40%;
    height: 240px;
}

/*BADGES*/
#b1 img {
    height: 240px;
    width: 453px;
}

#b2 img {
    height: 286px;
}

/*CUADROS*/
#c1 img {
    width: 453px;
}
#c2 img {
    width: 340px;
}
#c3 img {
    height: 343px;
}
#c4 img {
    height: 359px;
}
#c5 img {

}

/*EMBLEMAS*/
#e1 img{

}

/*HERALDICA*/
#h1 img{

}
#h2 img{
    width: 262px;
}
#h3 img{
    height: 404px;
}
/*LÁMINAS*/
#l1 img{

}
#l2 img{
    
}
#l3 img{
    margin-bottom: 71px;
    height: 251px;
}
#l4 img{
    
}
#l5 img{
    margin-bottom: 66px;
    height: 261px;
}
/*METOPAS*/
/*PLACAS*/
#ph1 img{

}
#ph2 img{

}
#ph3 img{

}
#ph4 img{

}
#ph5 img{

}
#ph6 img{
    height: 261px;
    margin-bottom: 15px;
}
#ph7 img{

}
#ph8 img{

}
#ph9 img{

}
#ph10 img{

}
#ph11 img{

}

/*GALERIA*/
h2 { 
    font-family: Georgia, Serif;
    font-size: 36px;
    text-align: center;
    font-weight: normal; 
}

#page-wrap { 
    background-color: rgba(255, 180, 111, 1);
    width: 960px;
    margin: 0 auto;
    padding: 0;
    clear: both;
}

#slider { 
    height: 400px;
    overflow: hidden;
    position: relative;
    margin: 50px 0;
}
                                  
                                /* DEFAULT is for three panels in width, adjust as needed
                                   This only matters if JS is OFF, otherwise JS sets this. */                                 
#mover { 
    width: 2880px;
    position: relative;
}

.slide {
    padding: 30px 30px;
    margin-left: 50px;
    width: 960px;
    float: left;
    position: relative;
}
.slide h1 {
    font-family: Helvetica, Sans-Serif;
    font-size: 30px;
    letter-spacing: -1px;
    color: #AC0000;
}
.slide p {
    color: black;
    font-size: 20px;
    line-height: 22px;
    width: 300px;
}
.slide img {
    position: absolute;
    top: 20px;
    left: 400px;
}
#slider-stopper {
    position: absolute;
    top: 1px;
    right: 20px;
    background: #ac0000;
    color: white;
    padding: 3px 8px;
    font-size: 10px;
    text-transform: uppercase;
    z-index: 1000;
}